.table-view {
    -fx-background-color:  linear-gradient(to bottom, #90E0EF, #CAF0F8 );
    -fx-background-radius: 10;
    -fx-fill: white;
    /*-fx-border-color:  #474787;*/
    -fx-border-radius: 10;
    /*-fx-border-width: 2;*/
}
.table-view .column-header-background {
    -fx-background-color:   linear-gradient(to bottom, #00B4D8, #90E0EF);

    -fx-background-radius: 10;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
}
.table-view .column-header, table-view.filler {
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
    -fx-background-color:transparent;
}
.table-view .column-header .label {
    /*-fx-text-fill: #474787;*/
    -fx-text-fill: black;
}.table-view .table-cell{
     -fx-font-family: "Calibri";
     -fx-font-size: 14;
     -fx-border-color: transparent;
     -fx-padding: 2 0 2 10px;
     -fx-alignment: CENTER;
 }
/*.table-row-cell:focused{*/
/*    -fx-background-color: #93f9b911;*/
/*    -fx-text-background-color: #474787;*/
/*}*/
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: #6c5ce7;
}
.table-row-cell:focused {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: blue;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .scroll-bar * {
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}